{% extends 'base.html' %}

{% load static %}

{% block css %}
<!-- Summernote css -->
<link href="{% static 'libs/summernote/summernote-bs4.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">
        
        <!-- Start Content-->
        <div class="container-fluid">
            
            {% include "base_page_title.html" %}
            
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="{% url 'message:update' message.id %}">
                                        {% csrf_token %}
                                        
                                        <input type="hidden" id="id" name="id" value="{{ message.id }}">
                                        
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Username</label>
                                            <div class="col-7">
                                                <input type="text" value="{{ message.username }}" name="username" required="" parsley-type="email"
                                                class="form-control parsley-success" id="inputEmail3"
                                                placeholder="Username" data-parsley-id="40">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-4 col-form-label">Message Text</label>
                                            <div class="col-7">
                                                <textarea class="form-control" id="example-textarea"
                                                name="text"
                                                rows="10">{{ message.text }}</textarea>
                                            </div>
                                        </div>

                                        <ul class="list-inline wizard mt-3">
                                            <li class="previous list-inline-item">
                                                <a href="{% url 'message:index' %}">
                                                    <button type="button" class="ladda-button btn btn-info"
                                                    data-style="slide-right"><i
                                                    class="mdi mdi-backspace-outline"></i> Back
                                                </button>
                                            </a>
                                        </li>

                                        <li class="next list-inline-item">
                                                                                            
                                            <button type="button" class="btn btn-success waves-effect waves-light"
                                            data-toggle="modal" data-style="slide-right"
                                            data-target=".bs-example-modal-center{{message.id}}"><i
                                            class="mdi mdi-content-save-outline mr-1"></i> Save</button>
                                            
                                            <div class="modal fade bs-example-modal-center{{message.id}}" tabindex="-1"
                                            role="dialog" aria-labelledby="myCenterModalLabel"
                                            aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myCenterModalLabel">Are you
                                                            sure
                                                            to save?</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                        </div>
                                                        
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                            class="btn btn-secondary waves-effect"
                                                            data-dismiss="modal">Close</button>
                                                            <button type="submit"
                                                            class="btn btn-success waves-effect waves-light"
                                                            data-style="slide-right"><i
                                                            class="mdi mdi-delete"></i> Save</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                            
                                        </li>
                                        
                                        <!-- ============================================================== -->
                                        <!-- End Page content -->
                                        <!-- ============================================================== -->
                                        
                                        {% endblock %}
                                        
                                        {% block js %}
                                        <!-- Summernote js -->
                                        <script src="{% static 'libs/summernote/summernote-bs4.min.js' %}"></script>
                                        
                                        <!-- Init js -->
                                        <script src="{% static 'js/pages/form-summernote.init.js' %}"></script>
                                        {% endblock %}